---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="home">
  <div class="index-callout">
    <h2 class="index-callout-main">
      Astro <span class="text-gradient">Auth</span> Test
    </h2>
    <h4 class="index-callout-sub color-gray-light">
      i just wanna test auth bruh
    </h4>
  </div>
</BaseLayout>
