---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/navigation/Navbar.astro";
---

<BaseLayout title="one">
  <Navbar active="one"/>

  <div class="index-callout">
    <h2 class="index-callout-main">
      Page <span class="text-gradient">Two</span>
    </h2>
    <h4 class="index-callout-sub color-gray-light">
      page two moment :3
    </h4>
  </div>
</BaseLayout>
