---
import {
  SignedIn,
  SignedOut,
  UserButton,
  SignInButton,
} from "@clerk/astro/components";

import ClerkProfileImage from "./ClerkProfileImage.astro";
---

<div>
  <SignedOut>
    <SignInButton mode="modal" class="auth-button" />
  </SignedOut>
  <SignedIn>
    <!-- <UserButton userProfileUrl="/profile" /> -->
    <!-- <UserButton /> -->
    <a href="/profile" data-astro-rerun>
      <ClerkProfileImage classStyle="profile-picture" />
    </a>
  </SignedIn>
</div>
