---
import {
  SignedIn,
  SignedOut,
  UserButton,
  SignInButton,
} from "@clerk/astro/components";
---

<div data-astro-rerun astro:before-preparation>
  <SignedOut>
    <SignInButton mode="modal" class="auth-button" />
  </SignedOut>
  <SignedIn>
    <!-- <UserButton userProfileUrl="/profile" /> -->
    <UserButton data-astro-rerun astro:before-preparation />
  </SignedIn>
</div>
