---
import {
  SignedIn,
  SignedOut,
  UserButton,
  SignInButton,
} from "@clerk/astro/components";
---

<div>
  <SignedOut>
    <SignInButton mode="modal" class="auth-button" />
  </SignedOut>
  <SignedIn>
    <!-- <UserButton userProfileUrl="/profile" /> -->
    <UserButton />
  </SignedIn>
</div>
